
<nav>
<ul>
	<li> <a  href="/">HOME</a> </li>
	<li> <a  href="https://www.aitpune.com">ABOUT</a> </li>
	<li> <a  href="/contact">CONTACT US </a> </li>
	<li> <a  href="/error"> FUN_IT_IS </a> </li>

</ul>
</nav>
