<!DOCTYPE html>
<html>
<head>
	<title>ninja it is</title>
	<head>
		<link rel="stylesheet" type="text/css" href= "/assets/style.css" >
	</head>
</head>
<body>
		<% include partials/nav.ejs %>

		<h1> OH MY GOD !!!! </h1>
		<p>!!! pta lga hi liya   !!!!</p>
		
		<p> <strong>Name : </strong> <%= qs.name %> </p>	
		<p> <strong>Dept : </strong> <%= qs.dept %> </p>	
		<p> <strong>email : </strong> <%= qs.email %> </p>	

		<h1> THANKS TO VISIT </h1>
</body>
</html>