<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style>
  body {
    background-color: pink;
  }
.button3 {
  padding: 15px 25px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  position:absolute; top:1; right:0;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button3:hover {background-color: #3e8e41}

.button3:active {
  background-color: #3e8e41s  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
</head>
<body>

<span>
<!--
 <button class="button3" onclick="window.location.href='al.php'">Admin Panel</button>  </a>  -->

 <h2 class="button3"> <%= qs.name %> </h2>

</span>
</body>

<!--
<body style= "background-image:url(" index.jpeg ");>

<body {
        background-image: url(" C:\Users\ASHOK KUMAR\Desktop\HACKATHON\hospital.jpeg");
}
< body background="hospital.JPEG"> 

-->

<div style="color: white;padding: 20px; " ;>
<h1 id="c4" style="font-size:350%; background-color: blue; text-align: center;">WELCOME TO PACE 2019 </h1>

<style>
.button {
  padding: 15px 25px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41s  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
</head>
<body>

<span>

 <button class="button" onclick="window.location.href='/'">Log Out</button> </a>

</span>

<style>
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
</head>


<body>

</div>


<br>
<br>

<style>
ul {
    list-style-type: none;
    margin: 0;
    padding:10;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
</style>
</head>
<body>

<ul>
  
  <li><a href="#">Home</a></li>
   <li><a href="#"  target="_blank">Events</a></li>
    
    <li><a href="#"  target="_blank">Event-Coordinators</a></li>
    <li><a href="#"  target="_blank">Rules And Regulations</a></li>
    <li><a href="#"  target="">Gallery</a></li>
     <!-- <li><a href="#home"></a></li> -->
     <li><a href="#"  target="_blank"></a></li>
     
     <!-- <li><a href="#home"></a></li>
       
       <li><a href="#home"></a></li> -->
       <li><a href="/error"  target="_blank">Notifications</a></li> 

        <li><a href="https://www.aitpune.com"  target="_blank">About</a></li>

       <li><a href="/error"  target="_blank">News</a></li>
        <li><a href="/contact"  target="_blank">Contact</a></li>
        <!--
        <li><a href="meettheteam.php"  target="_blank">Meet The Team</a></li>
        -->

           <!--<li><a href="#about">About</a></li> -->
  
</ul>




<br>
<br>




</body>
</html>
<marquee scrollamount="20"><h1 style="text-align:center;font-family-verdana;background-color: skyblue;color:red;font-size:250%"><em>A Healthy Body Makes A Healthy Mind</em></h1></marquee>

<br>
<br>

 <hr style="color: black;background-color: black;">


<style>
* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
</style>
</head>
<body>



<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="/assets/images/l1.JPG" style="width:100%">
  <div class="text"></div>
</div>



<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="/assets/images/l2.JPG" style="width:100%">
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="/assets/images/l3.JPG" style="width:100%">
  <div class="text"></div>
</div>


</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

<script>


var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex> slides.length) {slideIndex = 1}    
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 2000); // Change image every 2 seconds
}

 

var images=['/assets/h.jpg','image_url_2','image_url_3','image_url_4'];

setInterval(function(){
  var url=images[Math.floor(Math.random() * images.length)];
  document.body.style.backgroundImage = 'url('+url+')';  
},5000);

</script>


</body>
</html> 

<h3 style="
	color:red;
	text-align:center;
	font-family:verdana;
	font-size:300%;">


<i>
Overview of PACE 2K18
</i>

</h3>

<iframe style="background-color:gray" height="500px" width="100%" src="/assets/pace2018.html" name="iframe_a">  </iframe>


<!--
<p style="text-align: center;"><a href="https://www.rajasthantourism.com" target="iframe_a">rajtourism.com</a></p>

-->


<div style="color: white;padding: 20px; background-color: black" ;>

<style>
#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#about {
    top: 20px;
    background-color: #4CAF50;
}

#blog {
    top: 80px;
    background-color: #2196F3;
}

#projects {
    top: 140px;
    background-color: #f44336;
}

#contact {
    top: 200px;
    background-color: blue
}
</style>
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="https://www.aitpune.com"  target="_blank" id="about">About</a>
  <a href="#"  target="" id="blog">Blog</a>
  <a href="#"  target="" id="projects">News Room</a>
  <a href="/contact"  target="" id="contact">Contact</a>
</div>

<div style="margin-left:40px;">
  
</div>
     

<center>


<!--
<button type="button" style="text-align: center;" 
onclick="document.getElementById('demo').innerHTML = Date()">
Click here to display Date and Time.</button>

<p id="demo"></p>
-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 20px;
  font-size: 15px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 80%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}




</style>
</head>
<body>



<!-- Add font awesome icons -->
<a href="https://www.facebook.com/SMART-Medical-Services-241522753035590/" target="_blank" class="fa fa-facebook"></a>
<a href="" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-linkedin"></a>
<a href="https://www.youtube.com/channel/UCXbkNrLCtCtClb56Q1kA1cw" target="_blank" class="fa fa-youtube"></a>
<a href="#" class="fa fa-instagram"></a>
<a href="#" class="fa fa-pinterest"></a>

</body>



</center>




<p style="text-align: center; color: yellow; font-size:30px"> &copy ALL RIGHTS RESERVED BY ASHOK KUMAR, JAYRAJSINGH, MOHIT & AVINASH YADAV</p>



<!--
<p style="text-align: center; color: yellow; font-size:30px" > <a style="text-decoration: none;" href="#c4"> Go To Top </a> </p>
-->










<p style="text-align: center; color: yellow; font-size:20px"> <a href="https://docs.google.com/forms/d/e/1FAIpQLSfCFcYLnsaTuGlFVfCeF7oJVXa5GPaHdMjbhTV6c6KS2mY9GA/viewform" target="_blank"> Please fill this feedback form </a> </p>

</div>



</body>
</html>